.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
thead tr{
      font-size: x-large;
}
.custom-control::before,
.custom-control::after {
  top: .8rem;
  width: 1.25rem;
height: 1.25rem;
}
.box{
      transform: scale(1.5);
}
.button{
      text-align: center;
}
tfoot{
  justify-content: center;
display: flex;
}
